*{
    margin:0px;
    padding:0.5px;
}

body{
    background-color: rgb(214, 199, 228);
    display:flex;
    height:800px;
}

#A{

border: 2px solid black;
flex:1;


}

#B{

border: 2px solid black;
flex:1;
}

.gombclass{
    padding:10px;
    margin-bottom:2%;
}