body{
    padding:0px;
    margin:0px;
    background-color:rgb(240, 237, 237);
    
    
}

.maindiv{
    display:flex;
    flex-direction: row;
    border:2px solid rgb(22, 151, 202);
    height:650px;
    background-color:rgb(192, 212, 206);
}

.baldiv{
display: flex;
flex-direction: column;
flex:2;
border:2px solid rgb(22, 151, 202);
text-align: center;
}


.jobbdiv{
display: flex;
flex:8;
justify-content:center;
border:2px solid rgb(22, 151, 202);
}
.nameplate{
    background-color:rgb(137, 233, 204);
    border-bottom:3px solid rgb(100, 158, 158);
}

.buttonclass{
width:fit-content;
padding:0.3rem;
margin-top:0.2rem;
 
}
.buttonclass:hover{
    background-color:rgb(189, 247, 81);
    transition:1s;
    box-shadow:2px red;
}

#detailsdata{
    margin-top: 0.5rem;
}

.managemembersfield{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:rgb(238, 192, 192);
    box-shadow:3px snow;
    width:50%;
    height:22rem;
    border-radius:10%;
    box-shadow:2px 2px 2px 2px rgb(148, 144, 89);
    
    
}

.hideinfo{
    opacity:0;
}
.showinfo{
    opacity:1;
}

.buttondesign{
    display:flex;
    flex-direction: column;
    text-align:center;
    width:fit-content;
    background-color:aquamarine;
    padding:2px;
    margin:auto;

}

.h1title{
    display:flex;
    justify-content: center;
    border-radius: 10px;
    border:2px solid bisque;
    background-color: bisque;
    margin:auto;
    
    
}