*{
    margin:0px;
    border:0px;
    background-color: rgba(47, 56, 51, 0.7);
}

#maincontainer{
    display:flex;
    flex-direction: row;
}


#maincontainer > div{
    display:flex;
    border:2px solid black;
    flex:1;
    height:500px;
    
    
}
.innerdiv >button{
    display:flex;
    margin-top:55%;
    margin-left:40%;
}

.button{

    background: rgb(240, 209, 36);
    height:50px;
    
}
.button:hover{
    background-color: rgb(184, 121, 6);
    border: 1px solid rgb(231, 228, 13);
    transition:0.5s;

}
#resultdiv{
    display:flex;
}
#resultdiv >div{
    display:flex;
    border:2px solid black;
    width: 100%;
    height:200px;
}
#resultbutton{
    background-color: rgb(240, 168, 34);
    width: 50%;
    margin-left:25%;
}
#resultbutton:hover{
    background-color: rgb(184, 121, 6);
    border: 1px solid rgb(231, 228, 13);
    transition:0.5s;
}

.buttonCorrect{
    background-color: green;
}
.buttonIncorrect{
    background-color:red;
}